@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <div class="sidebar-menu-wrapper">
        <div class="mobile_sidebar_menu">
            <button type="button" class="close_btn">
                <i class="fal fa-times"></i>
            </button>
            <div class="about_content mb_60">
                <div class="brand_logo mb_15">
                    <a href="index.html">
                        <img src="~/images/logo/logo_01_1x.png"
                             srcset="~/images/logo/logo_01_2x.png 2x"
                             alt="logo_not_found" />
                    </a>
                </div>
                <p class="mb-0">
                    Nullam id dolor auctor, dignissim magna eu, mattis ante.
                    Pellentesque tincidunt, elit a facilisis efficitur, nunc nisi
                    scelerisque enim, rhoncus malesuada est velit a nulla. Cras porta
                    mi vitae dolor tristique euismod. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit
                </p>
            </div>
            <div class="menu_list mb_60 clearfix">
                <h3 class="title_text text-white">Menu List</h3>
                <ul class="ul_li_block clearfix">
                    <li class="active dropdown">
                        <a href="#!"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Home</a>
                        <ul class="dropdown-menu">
                            <li><a href="index_1.html">Home Page V.1</a></li>
                            <li><a href="index_2.html">Home Page V.2</a></li>
                        </ul>
                    </li>
                    <li><a href="gallery.html">Our Cars</a></li>
                    <li><a href="review.html">Reviews</a></li>
                    <li><a href="about.html">About</a></li>
                    <li class="dropdown">
                        <a href="#!"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Pages</a>
                        <ul class="dropdown-menu">
                            <li><a href="service.html">Our Service</a></li>
                            <li><a href="gallery.html">Car Gallery</a></li>
                            <li><a href="account.html">My Account</a></li>
                            <li><a href="reservation.html">Reservation</a></li>
                            <li class="dropdown">
                                <a href="#!"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Blogs</a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog_details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#!"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Our Cars</a>
                                <ul class="dropdown-menu">
                                    <li><a href="car.html">Cars</a></li>
                                    <li><a href="car_details.html">Car Details</a></li>
                                </ul>
                            </li>
                            <li><a href="cart.html">Shopping Cart</a></li>
                            <li><a href="faq.html">F.A.Q.</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#!"
                           data-toggle="dropdown"
                           aria-haspopup="true"
                           aria-expanded="false">Contact Us</a>
                        <ul class="dropdown-menu">
                            <li><a href="contact.html">Contact Default</a></li>
                            <li><a href="contact_wordwide.html">Contact Wordwide</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="booking_car_form">
                <h3 class="title_text text-white mb-2">Book A Car</h3>
                <p class="mb_15">
                    Nullam id dolor auctor, dignissim magna eu, mattis ante.
                    Pellentesque tincidunt, elit a facilisis efficitur.
                </p>
                <form action="#">
                    <div class="form_item">
                        <h4 class="input_title text-white">Pick Up Location</h4>
                        <div class="position-relative">
                            <input id="location_one"
                                   type="text"
                                   name="location"
                                   placeholder="City, State or Airport Code" />
                            <label for="location_one" class="input_icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form_item">
                        <h4 class="input_title text-white">Pick A Date</h4>
                        <input type="date" name="date" />
                    </div>
                    <button type="submit"
                            class="custom_btn bg_default_red btn_width text-uppercase">
                        Book A Car
                        <img src="~/images/icons/icon_01.png"
                             alt="icon_not_found" />
                    </button>
                </form>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <section class="breadcrumb_section text-center clearfix">
        <div class="page_title_area has_overlay d-flex align-items-center clearfix"
             data-bg-image="~/images/breadcrumb/bg_06.jpg">
            <div class="overlay"></div>
            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <h1 class="page_title text-white mb-0">Contacts Wordwide</h1>
            </div>
        </div>
        <div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2">
            <div class="container">
                <ul class="ul_li clearfix">
                    <li><a href="index.html">Home</a></li>
                    <li>Contact</li>
                    <li>Contact Wordwide</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="main_office_section sec_ptb_100 clearfix">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between justify-content-sm-center">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="office_image" data-aos="fade-up" data-aos-delay="100">
                        <img src="~/images/about/img_01.jpg"
                             alt="image_not_found" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                    <div class="office_info" data-aos="fade-up" data-aos-delay="300">
                        <h3 class="item_title">Main Office:</h3>
                        <ul class="ul_li_block clearfix">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> Unit 9, Manor
                                Industrial Estate, Lower Wash Lane, Warrington, WA4
                            </li>
                            <li><i class="fas fa-clock"></i> WH: 8:00am - 9:30pm</li>
                            <li><i class="fas fa-phone"></i> 01967 411232</li>
                            <li><i class="fas fa-envelope"></i> rotorseml@eml.fr</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="world_location_section sec_ptb_100 clearfix"
             data-bg-gradient="linear-gradient(0deg, #161829, #292D45)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-9 col-sm-12 col-xs-12">
                    <div class="section_title mb_60 text-center text-white"
                         data-aos="fade-up"
                         data-aos-delay="100">
                        <h2 class="title_text text-white mb_15">
                            <span>Worldwide Car Retal Locations</span>
                        </h2>
                        <p class="mb-0">
                            We have a number of convenient locations. More than 500
                            Stations in 90+ Countries Worldwide
                        </p>
                    </div>
                </div>
            </div>
            <div class="world_location clearfix">
                <form action="#">
                    <div class="row" data-aos="fade-up" data-aos-delay="300">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <div class="form_item mb-0">
                                <input id="world_location_search"
                                       type="search"
                                       name="search"
                                       placeholder="Search for a Country" />
                                <label for="world_location_search" class="input_icon">
                                    <i class="fal fa-search"></i>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit"
                                    class="custom_btn bg_default_red text-uppercase">
                                Search Location
                                <img src="~/images/icons/icon_01.png"
                                     alt="icon_not_found" />
                            </button>
                        </div>
                    </div>
                </form>
                <div class="map_wrap position-relative"
                     data-aos="fade-up"
                     data-aos-delay="400">
                    <div id="mapBox"
                         data-lat="40.701083"
                         data-lon="-74.1522848"
                         data-zoom="14"
                         data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
                         data-mlat="40.701083"
                         data-mlon="-74.1522848"></div>
                    <div class="location_content">
                        <h4>Marseille Seaport</h4>
                        <p>
                            <i class="fas fa-map-marker-alt"></i> Chemin du Littoral,
                            Porte 4, Marseille
                        </p>
                        <p>Office opening hours: <span>MON-SAT: 9:00am-9:00pm</span></p>
                        <div class="save_btn">
                            <a href="#"><i class="fas fa-envelope"></i> Save for Later</a>
                        </div>
                        <a class="text_btn text-uppercase" href="#!">
                            <span>View All Offers</span>
                            <img src="~/images/icons/icon_02.png"
                                 alt="icon_not_found" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="contact_form_section sec_ptb_100 clearfix">
        <div class="container">
            <div class="section_title mb_60 text-center"
                 data-aos="fade-up"
                 data-aos-delay="100">
                <h2 class="title_text mb-0"><span>Send Us a Message</span></h2>
            </div>
            <form id="contact_form"
                  action="https://html.merku.love/rotors/mail.php"
                  method="POST">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form_item" data-aos="fade-up" data-aos-delay="300">
                            <input type="text"
                                   name="firstname"
                                   placeholder="First Name" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form_item" data-aos="fade-up" data-aos-delay="400">
                            <input type="text" name="lastname" placeholder="Last Name" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form_item" data-aos="fade-up" data-aos-delay="500">
                            <input type="email" name="email" placeholder="E-mail" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="form_item" data-aos="fade-up" data-aos-delay="600">
                            <input type="tel" name="phone" placeholder="Phone Number" />
                        </div>
                    </div>
                </div>
                <div class="form_item" data-aos="fade-up" data-aos-delay="700">
                    <textarea name="message"
                              placeholder="Leave Your Message"></textarea>
                </div>
                <div class="abtn_wrap text-center clearfix"
                     data-aos="fade-up"
                     data-aos-delay="800">
                    <button type="submit"
                            value="submit"
                            class="custom_btn btn_width bg_default_red text-uppercase">
                        Send a Message
                        <img src="~/images/icons/icon_01.png"
                             alt="icon_not_found" />
                    </button>
                </div>
            </form>
        </div>
    </section>
</main>
