@{
    ViewData["Title"] = "Ödeme Başarılı";
    Layout = null;
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Ödeme Başarılı</h2>
            <p>Banka ödemeniz başarıyla tamamlandı. İşleminizle ilgili detaylar e-posta adresinize gönderildi.</p>
            <div class="text-center">
                <a href="/" class="btn btn-primary">Anasayfaya Dön</a>
            </div>
        </div>
    </div>
</div>
